.app__aboutus {
    position: relative;
}

.app__aboutus-overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
}
.app__aboutus-overlay img{
    width: 30%;
}

.app__aboutus-knife img {
    height: 575px;
    width: auto;
}


.app__aboutus-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.app__aboutus-text-container p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.app__aboutus-aboutus{
    text-align: right;
}

.app__aboutus-aboutus, .app__aboutus-history {
    padding: 2rem;
}

.p__grey p { 
    color: var(--color-grey);
}

.rotate {
    transform: rotate(180deg);
}

@media screen and (min-width: 2000px) {
    .app__aboutus-knife img {
        height: 1110px;
    }

    .app__aboutus-aboutus p,
    .app__aboutus-history p {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 900px) {
    .app__aboutus-text-container {
        flex-direction: column;
    }

    .app__aboutus-knife {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 650px) {
    .app__aboutus-overlay img {
        width: 80%;
        height: 320px;
    }
}




